.redBtn {
    background-color: red;
}

.greenBtn {
    background-color: green;
}

.btnContainer {
    margin-top: 50px;
}

.btnContainer button {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    outline: none;
    border-radius: 5px;
    margin: 20px;
    color: #fff;
    cursor: pointer;
    box-shadow: 4px 4px 4px black;
    border: 2px solid white;
}

.boxContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.redBox {
    height: 400px;
    width: 400px;
    background-color: red;
    border-radius: 5px;
    margin: 20px;
}

.greenBox {
    height: 400px;
    width: 400px;
    background-color: green;
    border-radius: 5px;
    margin: 20px;
}

