.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.form-container {
  width: 450px;
  height: 585px;
  padding: 40px;
  margin: 20px auto;
  background-color: #f1f1f1;
  border-radius: 5px;
}

input,
select {
  font-size: 20px !important;
  border: 1px solid #f1f1f1;
}

input[type="checkbox"] {
  margin-right: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 3px;
}

.req {
  color: red;
  font-size: 12px;
}

.form-group {
  position: relative;
}

.error {
  position: absolute;
  top: 75px;
  color: red;
  font-size: 14px;
  left: 10px;
}
.error-checked{
  position: absolute;
  top: 27px;
  color: red;
  font-size: 14px;
  left: 50px;
}

.special {
  top: 30px;
}

.err label {
  color: red;
}

.err input {
  border: 1px solid red;
}

.form-group {
  margin-bottom: 30px;
}

button {
  margin-top: 30px;
  width: 85px;
  font-weight: 500;
}

.btn-default {
  color: blue;
}